.btn-primary {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.8rem;
    padding: 9px 25px;
    border-radius: 10px;
    background-color: var(--icon-color);
    transition: all 0.3s ease;
    border: none;
}

.btn-primary:hover {
    background-color: var(---barra-nav);
}

.btn-primary-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--icon-color);
    transition: all 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.8rem;
    line-height: 24px;
    border: none;
}

.btn-icon {
    background: transparent;
    border: none;
    cursor: pointer
}

.btn-primary-icon img,
.btn-icon img {
    width: 20px;
    height: 20px;
}

.quantity {
    position: relative;
}


/*NUMBER INPUT*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}