.btn-primary {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.8rem;
    padding: 9px 25px;
    border-radius: 10px;
    background-color: var(--icon-color);
    transition: all 0.3s ease;
    border: none;
}

.btn-primary:hover {
    background-color: var(---barra-nav);
}

.btn-primary-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--icon-color);
    transition: all 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.8rem;
    line-height: 24px;
    border: none;
}

.btn-icon {
    background: transparent;
    border: none;
    cursor: pointer
}

.btn-primary-icon img,
.btn-icon img {
    width: 20px;
    height: 20px;
}

.quantity {
    position: relative;
}


/*NUMBER INPUT*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}


/*SELECT CSS*/

.select-css {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 160px;
    max-width: 100%;
    margin: 20px auto;
    border: 2px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--blanco);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: var(--icon-color);
}

.select-css:focus {
    border-color: var(--icon-color);
    box-shadow: 0 0 1px 3px var(--icon-color);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}


/*CHECKBOX COLOR*/

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 15px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background: var(--blanco);
    border: 1px solid var(--icon-color);
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: var(--blanco);
    border: 1px solid var(--icon-color);
}

.control input:checked~.control__indicator {
    background: var(--icon-color);
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/*RADIO BUTTON*/

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 200;
}

.radio-1,
.radio-1:checked {
    background: #FF0000;
}

.radio-2,
.radio-2:checked {
    background: #4258C9;
}

.radio-3,
.radio-3:checked {
    background: #DAA92B;
}

.radio-4,
.radio-4:checked {
    background: #2686A5;
}

.radio-5,
.radio-5:checked {
    background: #0B0D17;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked::before {
    display: flex;
    content: '';
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'Font Awesome 5 Free';
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: var(--icon-color);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.button-filter .btn-primary {
    width: 250px;
    margin-bottom: 30px;
}


/*MENU DESPLEGABLE*/

.nav-right-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: realtive;
}

.enlace-opciones-mp {
    text-decoration: none;
    display: block;
    position: realtive;
}

.enlace-opciones-mp h2 {
    font-size: 1.8rem;
    color: var(--font);
    transition: all 0.3s ease-in-out;
}

.enlace-opciones-mp h2:hover {
    color: var(--icon-color);
}

.menu-desplegable {
    position: absolute;
    top: 120px;
    margin-left: 15px;
    padding: 2rem 2rem 2rem;
    font-size: 1.7rem;
    background-color: var(--fondo);
    border-color: var(--font);
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.356);
}

.ocultar {
    display: none;
}

.menu-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem 0.8rem;
    color: var(--font);
    position: relative;
    box-shadow: inset 0 0 var(---barra-nav);
    transition: 0.6s;
}

.menu-links:hover {
    box-shadow: inset 200px 0 var(--icon-color);
    color: var(--blanco);
}

.menu-links::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 5px;
    left: 0;
}

.menu-links:hover::before {
    background-color: var(--gray);
}

.btn-cancel {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.8rem;
    padding: 9px 18px;
    border-radius: 10px;
    background-color: var(--gray);
    transition: all 0.3s ease;
    border: none;
}

.btn-cancel:hover {
    background-color: var(--gray);
}