#carrusel {
    width: 100%;
    overflow: hidden;
    height: 500px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.arrow-contain {
    /*Diseno*/
    background-color: rgba(0, 0, 0, 0.24);
    padding: 10px 15px;
    border-radius: 5px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrusel .left-arrow {
    position: absolute;
    left: 10px;
    z-index: 4;
    top: 50%;
    margin-top: -9px;
}

#carrusel .right-arrow {
    position: absolute;
    right: 10px;
    z-index: 4;
    top: 50%;
    margin-top: -9px;
}

#carrusel .left-arrow:hover,
#carrusel .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.377);
}

.carrusel {
    width: 8000px;
    left: 0px;
    position: absolute;
    z-index: 0;
    text-align: center;
}

.carrusel>div {
    float: left;
    width: 265px;
    height: 460px;
    margin-right: 5px;
    text-align: center;
    transition: all .3s ease-in-out;
    z-index: 3;
    margin-left: 30px;
}

.carrusel>div:hover {
    transform: scale(1.05);
}

.carrusel img {
    cursor: pointer;
}