#menu__toggle {
    opacity: 0;
}

.hamburger-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1000;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: 0.3s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 310px;
    height: 100%;
    margin: 0;
    list-style: none;
    text-align: left;
    background-color: var(--blanco);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.514);
    transition: 0.8s;
    z-index: 999;
}

div.menu_box-img {
    background-color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.411);
}

div.menu_box-img img {
    width: 139px;
    height: 67px;
}

div.menu_box-content {
    padding: 13px;
}

.menu__box p {
    text-transform: uppercase;
    color: var(--font-color);
    font-weight: 500;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--icon-color);
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    transition: background 0.5s ease;
}

.menu__box li:link {
    background-color: var(---barra-nav);
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}